<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
    <a href="<%= bookmark.url %>">
    <%= bookmark.title %>
    </a>
    </li>
  <% end %>

</ul>

<form action='/bookmarks/delete'>
<input type="submit" id="Delete Bookmark" value="Delete Bookmark"/>
</form>

<form action='/bookmarks/new'>
<input type="submit" id="Add Bookmark" value="Add Bookmark"/>
</form>

<form action='/bookmarks/update'>
<input type="submit" id="Update Bookmark" value="Update Bookmark"/>
</form>